<template>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam itaque eius,
    porro distinctio nisi nulla ipsa eos, facilis, magnam beatae perspiciatis!
    Culpa repellat non suscipit rem facilis distinctio saepe quis.
  </div>
</template>
