<script setup>
import img from "../assets/images/bg-login.png";
</script>

<template>
  <div
    class="bg-[url('../assets/images/bg-login.png')] h-screen bg-cover bg-center w-full flex justify-end"
  >
    <div class="w-1/3 flex flex-col p-3 bg-[#00000063] justify-between">
      <div class="flex gap-4 items-center w-full justify-center">
        <img src="../assets/images/main-logo.png" class="w-10" alt="" />
        <h3 class="text-2xl text-white">ПРОМ-ПОРТАЛ</h3>
      </div>

      <div class="flex flex-col gap-2 pt-10">
        <h3 class="text-end text-2xl text-white">Войти в ГИСП</h3>
        <div class="flex flex-col gap-3 bg-white rounded-md p-1.5">
          <div class="relative mt-2 rounded-md shadow-sm">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center"
            ></div>
            <input
              type="text"
              class="block border w-full rounded-md py-1.5 px-2 placeholder:text-gray-400 outline-0 sm:text-sm sm:leading-6"
              placeholder="Ваш id номер"
            />
            <div
              class="absolute inset-y-0 right-0 flex items-center bg-[#e5e7eb] px-3 rounded-md"
            >
              @gisp.uz
            </div>
          </div>
          <input
            type="password"
            class="border block w-full rounded-md py-1.5 px-2 placeholder:text-gray-400 outline-0 sm:text-sm sm:leading-6"
            placeholder="Ваш пароль"
          />
          <button class="w-full py-1.5 bg-blue-700 text-white rounded-md">
            Войти в систему
          </button>
        </div>
      </div>
      <div class="h-1/3 flex flex-col justify-between">
        <div class="flex justify-center gap-6 items-center">
          <img src="../assets/images/miit.png" alt="" />
          <img src="../assets/images/rtm.png" alt="" />
        </div>
        <p class="text-xl text-center text-white">
          © 2023 Центр цифровой трансформации
        </p>
      </div>
    </div>
  </div>
</template>
