<script setup>
import { useRoute } from "vue-router";
import Default from "./layouts/default.vue";
import Main from "./layouts/main.vue";
import { computed } from "vue";

const layoutList = { Default: Default, Main: Main };

const route = useRoute();

const layout = computed(() =>
  route.meta.layout ? layoutList[route.meta.layout] : ""
);
</script>
<template>
  <component :is="layout">
    <RouterView />
  </component>
</template>
